@font-face {
  font-family: CGB;
  src: url(./../fonts/CenturyGothicRegular.ttf);
}

@font-face {
  font-family: Drugs;
  src: url(./../fonts/Drugs.otf);
}

.about-wrapper {
  color: #8c8c8c;
  text-align: center;
  width: 950px;
  margin: auto;
}

.about-title, .our-clients-text {
  font-family: CGB, serif !important;
  margin-top: 50px;
  font-weight: bold;
  color: #4b4b4b;
  display: block;
  font-size: 30px;
}

.about-text {
  font-family: CGB, serif !important;
  color: #000000;
  text-align: center;
  font-size: 17px;
}

.our-clients-text {
  margin-top: 0;
  margin-bottom: 50px;
}

.clients-logo {
  width: 900px;
  height: auto;
  margin: auto;
  padding-bottom: 75px;
}

.partner-logo {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  width: 135px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-decoration-blockborder {
  margin-top: 50px;
  margin-bottom: 50px;
  background: -webkit-radial-gradient(closest-side, rgb(143, 27, 27), rgba(255, 255, 255, 0));
  background: radial-gradient(closest-side, rgb(157, 29, 31), rgba(255, 255, 255, 0));
  height: 2px;
  width: 100%;
  display: inline-block;

}

@media screen and (max-width: 950px) {
  .about-wrapper {
  width: 90%;
  }
  .clients-logo{
    width: 400px;
  }
  .partner-logo{
    width: 80px;
    height: 90px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) and (max-width: 1024px) {

}

@media screen and (max-width: 414px) and (max-width: 736px) {

}

@media screen and(max-width: 412px) and (max-height: 732px) {

}

@media screen and(width: 375px) and (height: 667px) {

}

@media screen and(max-width: 360px) and (max-height: 640px) {

}

@media screen and(width: 320px) and (height: 568px) {
  .about-wrapper {
    width: 300px;
  }

  .partner-logo {
    width: 35px;
    height: 55px;
  }

  .about-text {
    font-size: 14px;
  }

  .about-title, .our-clients-text {
    margin-top: 20px;
  }

  .our-clients-text {
    margin-bottom: 5px;
  }

  .about-decoration-blockborder {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
