#cilp-tabs-wrapper {
  visibility: hidden;
  position: absolute;
  width: 100%;
  top:300px;
  background-color: rgba(0, 0, 0, 0.79);
}

.clip-bar {
  height: auto;
  min-height: 1050px;
}
.clip-tabs {
  display: block;
  width: 250px;
  margin: auto;
  text-align: right;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  padding: 4px;
  list-style: none;
}

.fixed-clip-tabs {
  display: block;
  visibility: visible!important;
  position: fixed!important;
  width: 100%;
  top: 0px!important;
}

.clip-tabs .btn-menu-button {
  color: #ffffff;
}

.clip-tabs li {
  display: inline-block;
}

.slide-contacts {
  display: block;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 0;
  list-style: none;
  color: #0f0f0f;
  border-radius: 55px 55px 5px 0;
}

.pagination-wrapper{
  width: 100%;
  text-align: center;
  background-color: #0f0f0f;
}
.admin-pagination-wrapper{
  width: 100%;
  text-align: center;
}
.user-pagination{
  margin: auto;
  margin-top:7px;
  margin-bottom:5px;
}

.hide-slide-contacts{
  display:none
}

.slide-contacts li {
display: block;
  width: 55px;
  padding: 10px;
  padding-left: 11px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgba(29, 29, 29, 0.99);
}
.slide-contacts .fa {
  color: rgba(182, 31, 29, 0.99);
}
.slide-contacts .fa:hover {
  color: rgba(144, 28, 27, 0.99);
}

.slide-contacts li:nth-child(1) {
  border-radius: 0px 10px 0px 0px;
  padding-left: 9px;
}


.slide-contacts li:nth-child(3){
  border-radius: 0px 0px 10px 0px;
}


.slide-contacts li:nth-child(2) {
  border-bottom: 1px solid #838383;
  border-top: 1px solid #838383;
}

.clip-list-wrapper {
  margin: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.99);
  height: auto;
  min-height: 80%;
}

.clip-wrapper {
  width: 100%;
  height: 1020px;
}

.admin-clip-list  {
  width:86%;
  margin:auto;
}


.choose-by-tag{
margin-bottom: 50px;
  margin-right: 50px;
}
.admin-clip-wrapper{
  display: inline-block;
  width: 95%;
  height: 450px;
}
.admin-clip-wrapper2{
  text-align: center;
  display: inline-block;
}
.under-clip-buttons{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 20px;
}

.clip-title .clip {
  display: block;
}
.refresh-by-tag{
  margin-left: 50px;
}
.clip {
  width: 100%;
  height: 100%;
}

.clip-title {
  font-size: 25px;
  color: white;
  padding: 10px 10px 10px 0;
}


.pagination-wrapper >.pagination>li>a{
  margin-right: 5px;
  color: #901c1b;
  border-radius: 0;
  border: 1px solid rgb(144, 28, 27);
  background-color: #ffffff;
}

.pagination-wrapper >.pagination>li:hover>a{
  background-color: #e3e3e3
}


.pagination-wrapper>.pagination>.active>a{
  color: #901c1b!important;
  border: 1px solid rgb(144, 28, 27);
  background-color: #d4d4d4;
}
.pagination-wrapper >.pagination>.active:hover>a{
  background-color: #6d6d6d
}
