
*{
  font-family: 'Source Code Pro', monospace;
}


html, body, #root,.page-layout{
  height: 100%;
}

.error {
  margin-top: -10px;
  margin-bottom: 20px;
  display:block;
  text-align: center;
  background-color: rgba(211, 26, 26, 0.25);
  color: #b22222;
}
.success {
  margin-top: -10px;
  margin-bottom: 20px;
  display:block;
  text-align: center;
  background-color: rgba(56, 211, 139, 0.25);
  color: #4eb256;
}