.annotation {
  padding: 80px;
  background-color: #f7f7f7;
  border-bottom: 1px solid darkslategrey;
}

.annotation-text-wrapper {
  padding: 60px;
  margin: auto;
  width: 80%;
  height: 75%;

}

.annotation-text {
  font-style: oblique;
  font-weight: bold;
  font-size: 35px;
  color: darkgray;
}

.btn-custom-read-more{
  background-color: white;
  border-radius: 0px;
  border:3px solid #3e3e3e;
  color: #181818;
}
.btn-custom-read-more:hover{
  background-color: silver;
}


.read-more-wrapper{
  height: 170px;
}

.read-more{
  float:right;
  width: 150px;
  height: 50px;
  margin-top: 120px;
}